@model Shivgarjana.Models.Event.Event

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#@Model.EventID">
            <span class="text-uppercase"> @Html.DisplayFor(m => m.Title)</span>
        </a>    
            @if (Model.DateTime > DateTime.Now)
            {
                <span class="label label-warning pull-right">Upcoming</span>
            }
            else
            {
                <span class="label label-success pull-right">Past</span>
            }

        </h4>
    </div>
    <div id="@Model.EventID" class="panel-collapse collapse ">
        <div class="panel-body">
            <div>
                @Html.DisplayFor(m => m.Description)
            </div>
            <div>
                @Html.LabelFor(m => m.DateTime)
                @Html.DisplayFor(m => m.DateTime)
            </div>
            <div >
                @Html.Partial("_EventPhotos", Model.Media.Where(m => m.MultimediaType == Shivgarjana.Models.Event.MultimediaType.Photo))
            </div>
            <div>
                @Html.Partial("_EventVideos", Model.Media.Where(m => m.MultimediaType == Shivgarjana.Models.Event.MultimediaType.Video))
            </div>
        </div>
    </div>
</div>


